@font-face {
    font-family: 'montserratlight';
    src: url('../Font/Montserrat/montserrat-light-webfont.eot');
    src: url('../Font/Montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../Font/Montserrat/montserrat-light-webfont.woff2') format('woff2'),
    url('../Font/Montserrat/montserrat-light-webfont.woff') format('woff'),
    url('../Font/Montserrat/montserrat-light-webfont.ttf') format('truetype'),
    url('../Font/Montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: montserratlight;
}
.main {
    overflow: hidden;
}
.header {
    background: linear-gradient(104.91deg, #222831 12.31%, #1B1F25 62.23%);
    min-height: 130px;
}
.wrapper {
    max-width: 1050px;
    /*width: 100%;*/
    margin: 0 auto;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 100px;
}
.header-menu-logo {
    height: 0;
}
.header-menu-list {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.menu-list {
    text-decoration: none;
    color: white;
    padding-top: 10px;
}
.menu-list-yellow-btn {
    padding: 10px 30px;
    background-color: #e3b318;
    border-radius: 40px;
    color: black;
}
.secret {
    background: linear-gradient(104.91deg, #222831 12.31%, #1B1F25 62.23%);
    padding: 50px 25px 100px;
}
.secret-container {
    display: flex;
    justify-content: space-between;
}
.secret-left-box {
    color: white;
    max-width: 545px;
}
.secret-title {
    margin-bottom: 20px;
    font-size: 45px;
    font-family: 'montserratlight';
}
.secret-subtitle {
    margin-bottom: 30px;
}
.secret-descr {
    margin-bottom: 30px;
}
.secret-box {
    margin-left: -32px;
    display: flex;
}
.app-google-img {
    width: 160px;
}
.app-google-link {}

.right-box-privasy-img {
    left: 425px;
    /*overflow: hidden;*/
    margin: 0 auto;
}
.right-box-descr {
    padding: 50px 25px 0;
    color: white;
    text-align: center;
}
.desc-container {
    background-color: #222831;
    min-height: 530px;
    padding-top: 100px;
}
.description-container {
    display: flex;
    justify-content: space-between;
}
.desc-container-box {
    max-width: 295px;
    color: white;
}
.box-img {
    margin-bottom: 30px;
}
.container-box-title {
    margin-bottom: 30px;
}
.desc-mobile-container {
    background: linear-gradient(104.91deg, #222831 12.31%, #1B1F25 62.23%);
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 500px;
    padding-top: 80px;
}
.desc-mobile-slider {
    display: flex;
    justify-content: space-between;
}
.desc-mobile-box {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    color: white;
}
.dmb-left {
    padding-right: 50px;
}
.dmb-right {
    padding-left: 50px;
}
  .left-box {
    text-align: right;
}
.right-box {
    text-align: left;
}
.desc-mobile-subtitle {
    margin-bottom: 25px;
   cursor: pointer;
}
.desc-mobile-descr {
    margin-bottom: 50px;
    opacity: 0.7;
}
.desc-mobile-central-box {
    position: relative;
}
.bg-functionality-phone {
    position: absolute;
    top: -325px;
    left: -190px;
    height: 530px;
}
.img-box-slider {
    position: absolute;
    top: -173px;
    left: 1px;
    width: 265px;
    z-index: 2;
}
.img-box {
    margin-right: 50px;
}
.mobile-central {
    position: absolute;
    top: -250px;
    left: -25px;
    z-index: 1;
}
.footer {
    background-color: #222831;
    min-height: 80px;
    position: relative;
}
.secret-mess-container {
    background-color: #222831;
    min-height: 700px;
    position: relative;
    padding-top: 75px;
}
.secret-mess-box:before {
    content: "";
    position: absolute;
    top: 30px;
    right: 402px;
    background: url(../img/sicret-chat/left-shield.png) 0 0 no-repeat;
    width: 509px;
    height: 500px;
}
.secret-mess-box {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 60px;
    position: relative;
    max-width: 600px;
}
.shield-messenger {
    background: url(../img/sicret-chat/confeti.png) 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 8px;
    width: 600px;
    height: 500px;
}
.secret-mess-box:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 537px;
    background: url(../img/sicret-chat/right-shield.png) 0 0 no-repeat;
    width: 800px;
    height: 500px;
}
.app-google-secret-box {
    display: flex;
    margin: 0 auto;
    max-width: 320px;
}
.logo-footer {
    /*top: 35px;*/
    /*!*position: absolute;*!*/
    /*left: 225px;*/
}
.title-mess {
    margin-bottom: 30px;
    font-size: 45px;
    margin-top: -25px;
}
.descr-mess {
    margin-bottom: 30px;
    opacity: 0.7;
}
.footer-nav-container {
    position: relative;
}
.footer-nav-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.nav-descr {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.lower-left-shield {
    position: absolute;
    bottom: -60px;
    left: 75px;
}
.lower-right-shield {
    position: absolute;
    bottom: -60px;
    right: 65px;
}
.slider-container {
    position: relative;
    max-width: 405px;
}
.slider-container:before {
    position: absolute;
    top: -60px;
    left: -96px;
    width: 582px;
    height: 488px;
    content: " ";
    background: url(../img/sicret-chat/confeti.png) 0 0 no-repeat;
}
.slider-box {
    outline: none;
}
.slider-container .slick-dots li button:before {
 color: yellow!important;
}




