@media (max-width: 1310px) {
    .about-dr-sheele:after {
        bottom: -100px;
    }
}
@media (max-width: 1240px) {
    .about-dr-sheele-right {
        padding-top: 70px;
        text-align: center;
        margin: 0 auto;
    }
    .photo-dr-sheele {
        padding-top: 60px;
    }
    .left-box,
    .header-logo {
        padding-left: 25px;
    }
    .menu-list {
        padding-right: 25px;
    }
    .about-joyspring {
        padding: 0 25px;
    }

}
@media (max-width: 1050px) {
    .about-dr-sheele:after {
        bottom: -154px;
    }
}
@media (max-width: 925px) {
    .about-dr-sheele-container {
        flex-wrap: wrap-reverse;
        padding-top: 235px;
    }
}
@media (max-width: 880px) {
    .our-happy-users:after {
        /*display: none;*/
    }
    .wrapper {
        max-width: 600px;
    }
    .header-menu-box {
        flex-direction: column;
        display: none;
    }
    .menu-list:hover .header-menu-box {
        display: block;
        position: absolute;
        top: 32px;
        right: -24px;
        padding-top: 10px;
    }
    .menu-list-description {
        padding: 10px;
        background-color: blue;
        border-radius: 5px;
    }
    .forest-bg:after {
        background-size: contain;
        bottom: 110px;
    }
    .menu-list {
        flex-direction: column;
        max-width: 100px;
        position: relative;
    }
    .wellness-deskription-container {
        max-width: 385px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .easy-to-use-container:after {
        background-size: contain;
        bottom: -180px;
    }
    .easy-to-use-container {
        margin-bottom: 0;
    }
    .left-box {
        max-width: 390px;
        width: 100%;
        padding-top: 50px;
        text-align: center;
    }
    .orange-txt {
        margin-bottom: 40px;
    }
    .left-box-img {
        max-width: 390px;
        display: inline;
    }
    .forest-bg {
        margin-bottom: 330px;
    }
    .about-img-container {
        flex-wrap: wrap;
    }
    .about-img-box {
        margin-bottom: 50px;
    }
    .desk-txt-white {
        display: none;
    }
    .easy-to-use-container:before {
        top: -35px;
        background-size: contain;
    }
    .about-joyspring {
        z-index: 3;
    }
    .our-prices-white-box {
        flex-wrap: wrap;
    }
    .our-happy-users:after {
        bottom: 174px;
        background-size: contain;
    }
    .about-dr-sheele:before {
        top: 0;
        background-size: contain;
    }
    .white-box {
        margin-bottom: 50px;
        box-shadow: none;
        border-radius: 10px;
        margin-right: 0;
    }
    .white-box-3 {
        max-width: 515px;
        width: 100%;
        align-items: baseline;
        padding: 35px 45px;
    }
    .our-desk {
        /*margin-bottom: 0;*/
        z-index: 3;
        position: relative;
    }
    .our-prices-container {
        padding-bottom: 60px;
    }
    .our-happy-users {
        background-color: white;
        padding-top: 50px;
    }
    .slider-container {
        max-width: 400px;
    }
    .about-dr-sheele {
        height: 1390px;
        margin-bottom: 40px;
    }
    .up-arrow {
        right: 50px;
    }
    .footer:before {
        top: 0;
        background-size: contain;
    }
    .download {
        z-index: 1;
        position: relative;
    }
    .about-dr-sheele-right {
        text-align: center;
        padding: 0;
        max-width: 590px;
        margin: 0 auto;
    }
    .about-dr-sheele:after {
        background-size: contain;
        bottom: -200px;
    }
      .easy-to-use-left {
          padding-top: 180px;
      }
   .our-prices-heading {
       position: relative;
       z-index: 2;
    }
}
@media (max-width: 760px) {
    .our-happy-users:after {
        bottom: 142px;
    }
    .about-dr-sheele:before {
        top: -25px;
    }
    .knife-down {
        bottom: 151px;
    }
    .easy-to-use-container:before {
        top: -10px;
    }
    .easy-to-use-right {
        padding-top: 220px;
    }
    .about-dr-sheele-container {
        padding-top: 170px;
    }
}
@media (max-width: 715px) {
    .easy-to-use-container:after {
        bottom: -215px;
    }

}
@media (max-width: 620px) {
    .about-dr-sheele-right {
        padding: 0 25px;
    }
}
@media (max-width: 636px) {
    .our-prices-white-box {
        flex-direction: column;
        align-items: center;
    }
    .white-box-3 {
        width: inherit;
    }
}
@media (max-width: 600px) {
    .about-img-container {
        flex-direction: column;
        align-items: center;
    }
    .easy-to-use-container:after {
        bottom: -242px;
    }
    .white-box-3 {
        max-width: 200px;
        align-items: center;
    }
}
@media (max-width: 570px) {
    .our-happy-users:after {
        bottom: 118px
    }
}
@media (max-width: 500px) {
    .about-dr-sheele:before {
        top: -5px;
    }
}
@media (max-width: 470px) {
    .our-happy-users:after {
        bottom: 98px
    }
}
@media (max-width: 460px)  {
    .easy-to-use-container:after {
        bottom: -260px;
    }
}


