@font-face {
    font-family: 'sf-ui';
    src: url('../font/joy_spring/SFUIText-Medium/sfuitext-medium-webfont.eot');
    src: url('../font/joy_spring/SFUIText-Medium/sfuitext-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/joy_spring/SFUIText-Medium/sfuitext-medium-webfont.woff2') format('woff2'),
    url('../font/joy_spring/SFUIText-Medium/sfuitext-medium-webfont.woff') format('woff'),
    url('../font/joy_spring/SFUIText-Medium/sfuitext-medium-webfont.ttf') format('truetype'),
    url('../font/joy_spring/SFUIText-Medium/sfuitext-medium-webfont.svg#sf_ui__textmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf-pro';
    src: url('../font/joy_spring/SFProDisplay-Light/sfprodisplay-light-webfont.eot');
    src: url('../font/joy_spring/SFProDisplay-Light/sfprodisplay-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/joy_spring/SFProDisplay-Light/sfprodisplay-light-webfont.woff2') format('woff2'),
    url('../font/joy_spring/SFProDisplay-Light/sfprodisplay-light-webfont.woff') format('woff'),
    url('../font/joy_spring/SFProDisplay-Light/sfprodisplay-light-webfont.ttf') format('truetype'),
    url('../font/joy_spring/SFProDisplay-Light/sfprodisplay-light-webfont.svg#sf_pro_displaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
.wrapper-all {
    overflow: hidden;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    margin-bottom: 100px;
    padding-top: 48px;
    position: relative;
    z-index: 2;
}
.forest-bg {
    background: url(../img/joy_spring/forest3_1.jpg) 0 0 no-repeat;
    width: 100%;
    height: 890px;
    background-size: cover;
    margin-top: -218px;
    margin-bottom: 100px;
}
.header-logo:hover {
    cursor: url(../img/sammary/cursor-hand_2.png), pointer;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu-list {
    justify-content: space-between;
    max-width: 720px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.header-menu-box {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}
.menu-list-description {
     color: white;
     text-decoration: none;
     cursor: pointer;
    font-family: 'sf-pro';
}
.menu-list-description:hover {
    color: blue;
}

.footer-menu-list-description {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;
    font-family: 'sf-pro';
}
.footer-menu-list-description:hover {
    color: blue;
}
.download-button {
    cursor: pointer;
    border: none;
    background-color: blue;
    padding: 10px 25px;
    border-radius: 3px;
    color: white;
    font-family: 'sf-pro';
    font-size: 15px;
}
.main {}
.wellness-deskription-container {
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    max-width: 1080px;
}
.knife-down {
    width: 100%;
    bottom: 102px;
    position: absolute;
}
.left-box {
    max-width: 345px;
    padding-top: 150px;
}
.wellness-title {
    font-family: 'sf-ui';
}
.paul-title {
    margin-bottom: 10px;
    font-family: 'sf-ui';
}
.orange-txt {
    color: orange;
    font-size: 13px;
    font-family: 'sf-pro';
}
.desk-txt {
    margin-bottom: 30px;
    margin-bottom: 30px;
    font-family: 'sf-pro';
}
.app-link-download {
    text-decoration: none;
}
.left-box-img {
    display: flex;
    justify-content: space-between;
    max-width: 225px;
}
.left-img {
    width: 100px;
}
.right-box {
    position: relative;
    padding-top: 50px;
}
.right-box-mob-1 {
    position: relative;
    z-index: 2;
}
.right-box-mob-2 {
    left: 125px;
    top: 75px;
    position: absolute;
    z-index: 1;
}
.about-joyspring {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-bottom: 200px;*/
    position: relative;
    text-align: center;
}
.about-js {
    margin-bottom: 50px;
}
.about-heading {
    font-family: 'sf-ui';
}
.about-img-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.about-img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 267px;
}
.about-img {
    width: 80px;
    margin-bottom: 25px;
}
.js-box-heading {
    margin-bottom: 15px;
    font-family: 'sf-ui';
}
.js-box-desc {
    font-family: 'sf-pro';
}
.easy-to-use-container {
    position: relative;
    margin-bottom: 65px;
}
.forest-mob {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/joy_spring/heder_forest_2x.jpg) 0 0 no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.easy-to-use-container:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -66px;
    height: 355px;
    width: 100%;
    background: url(../img/joy_spring/knife_down2.png) 0 0 no-repeat;
    background-size: cover;
    z-index: 2;
}
.easy-to-use-container:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 355px;
    width: 100%;
    background: url(../img/joy_spring/knife_up.png) 0 0 no-repeat;
    background-size: cover;
    z-index: 2;
}
.easy-to-use-box {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.easy-to-use-left {
    padding-top: 255px;
    max-width: 400px;
    margin-right: 50px;
}
.easy-to-use-iphone {
    height: 620px;
    margin-bottom: 30px;
}
.easy-to-use-right {
    padding-top: 280px;
}
.desk-txt-white {
    color: white;
    max-width: 210px;
    font-family: 'sf-pro';
}
.desk-txt-w {
    color: white;
    max-width: 210px;
    margin: 0 auto;
    text-align: center;
    font-family: 'sf-pro';
}
.cursor {
    cursor: pointer;
}
.easy-box {
    margin-bottom: 35px;
    display: flex;
    opacity: 0.5;
}
.easy-box:hover {
    opacity: 1;
}
.easy-box-img {
    margin-right: 25px;
}
.our-prices-container {
    background-color: #f7faff;
    padding: 0 25px 100px;
}
.our-prices-box {
    /*display: flex;*/
    /*flex-direction: column;*/
}
.our-prices-heading {
    margin-bottom: 25px;
    text-align: center;
    font-family: 'sf-ui';
}
.our-prices-white-box {
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    margin: 0 auto;
}
.white-box {
    padding: 35px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 215px;
    box-shadow: 8px 18px 32px rgba(0,0,0,0.2);
    border-radius: 40px;
    margin-right: 20px;
}
.white-box:nth-child(3) {
    margin-right: 0;
}
.white-box-button {
    cursor: pointer;
    padding: 10px 64px;
    border-color: #1567f9;
    border-radius: 5px;
    background-color: white;
    color: #1567f9;
    outline: none;
    font-family: 'sf-pro';
}
.white-box-button:hover {
    background-color: #1567f9;
    color: white;
}
.txt-opacity {
    margin-bottom: 50px;
    opacity: 0.5;
    font-family: 'sf-pro';
}
.white-box-desk {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'sf-pro';
}
.our-happy-users {
    position: relative;
    text-align: center;
    background-color: #f7faff;
    min-height: 630px;
}
.our-happy-users:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -7px;
    height: 355px;
    width: 100%;
    background: url(../img/joy_spring/knife_down.png) 0 0 no-repeat;
    background-size: cover;
    z-index: 2;
}
.our-desk {
    margin-bottom: 120px;
    font-family: 'sf-ui';
}
.our-slider {}
.slider-container {
    max-width: 700px;
    margin: 0 auto;
    z-index: 3;
}
.slider-container-solo {
    position: relative;
    z-index: 3;
}
.arrow {
    border-radius: 4px;
    background-color: inherit;
    outline: none;
    position: absolute;
    z-index: 2;
    top: 30px;
    cursor: pointer;
    border: solid #81bfff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
.arrow-left {
    left: -55px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrow-right {
    right: -39px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.slider-figure {
    outline: none;
}
.name-user {
    font-family: 'sf-ui';
    font-size: 16px;
}
.slider-img {
    width: 80px;
    margin: 0 auto 50px;
}
.slider-desc {
    font-family: 'sf-pro';
}
.slider-desk {}
.about-dr-sheele {
    position: relative;
    margin-bottom: 100px;
}
.forest-dr-sheel {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/joy_spring/heder_forest_2x.jpg) 0 0 no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.about-dr-sheele:before {
    position: absolute;
    z-index: 1;
    content: "";
    top: 5px;
    left: 0;
    height: 365px;
    width: 100%;
    background: url(../img/joy_spring/knife_up.png) 0 0 no-repeat;
    background-size: cover;
}
/*.about-dr-sheele:after {
    position: absolute;
    z-index:3;
    content: "";
    bottom: -36px;
    height: 355px;
    width: 100%;
    background: url(../img/joy_spring/knife_down.png) 0 0 no-repeat;
    background-size: contain;
}*/
.forest-dr-sheel-knife {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.about-dr-sheele-container {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}
.about-dr-sheele-left {
    margin-right: 50px;
}
.photo-dr-sheele {
    width: 500px;
    position: relative;
    padding: 245px 0 0;
    z-index:3;
}
.about-dr-sheele-right {
    position: relative;
    z-index: 2;
    padding-top: 315px;
    max-width: 680px;
}
.color-white {
    color: white;
    font-family: 'sf-ui';
}
.about-dr-font {
    font-family: 'sf-pro';
}
.download {
    text-align: center;
    max-width: 500px;
    z-index: 3;
    position: relative;
    font-family: 'sf-ui';
}
.app-img {
    width: 100px;
}
.footer {
    background: url(../img/joy_spring/downloadAppImg.jpg) 0 0 no-repeat;
    width: 100%;
    height: 385px;
    background-size: cover;
    position: relative;
    padding-bottom: 60px;
}
.footer:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 365px;
    width: 100%;
    background: url(../img/joy_spring/knife_up.png) 0 0 no-repeat;
    background-size: cover;
}
.footer-nav {
    position: relative;
    padding-top: 285px;
}
.txt-end {
    text-align: end;
    color: white;
    opacity: 0.5;
    font-family: 'sf-pro';
}
.up-arrow {
    position: fixed;
    top: 730px;
    right: 50px;
    cursor: pointer;
    z-index: 5;
}
.menu-list-footer {
    max-width: 530px;
}
